 <h3> Start creating your Memory Castle</h3>

<div class="col s12 mat-h6">
    <form [formGroup]="loginForm"  >

        <br>
        <mat-form-field>
            <input formControlName="Email" matInput="text" placeholder="Email">
        </mat-form-field>
        <mat-error>
            <span *ngIf="!loginForm.get('Email').valid && loginForm.get('Email').touched">Please enter an email !!!</span>
        </mat-error>
        <br>
        <mat-form-field>
            <input matInput formControlName="Password"placeholder="Enter your password" [type]="show ? 'text': 'password'">
            <mat-icon matSuffix (click)="show = !show">{{this.show ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
        <mat-error>
            <span *ngIf="!loginForm.get('Password').valid && loginForm.get('Password').touched">A Password is required</span>
        </mat-error>


        <button type="submit" class="btn btn-success" (click)="onLoginSubmit()">Login</button>
    </form>
</div>

<p>
  join the adventure
</p>
