<p>
  user-profile works!
</p>

<div>
<h1>Welcome back {{user}} </h1>

</div>

<!-- <div class="container-grid"> -->
    <!-- <mat-sidenav-container class="example-sidenav-container" hasBackdrop="false">
        <mat-sidenav #sprof mode="side" disableClose="true" opened="true" fixedInViewport="true">
            <mat-nav-list>
                <a mat-list-item routerLink="./lmap">Web Locus and Map</a>
                <a mat-list-item routerLink="./acc">Account</a>
                <a mat-list-item routerLink="./hist">History</a>
                <a mat-list-item routerLink="./settings">Preferences</a>
                <a mat-list-item routerLink="./netw">Social</a>
                <a mat-list-item routerLink="./mbox">Mail</a>
                <a mat-list-item routerLink=".">Notification</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="profile">

                <router-outlet ></router-outlet>

            </div>

        </mat-sidenav-content>
    </mat-sidenav-container> -->
<!-- </div> -->
