<div class="container">
  <div>
    <h2>Welcome back {{ user.username }}!</h2>
    <p>User UID is : {{ user.uid }}</p>
  </div>
  <!-- HERE IS THE USER ID PANEL -->
  <mat-expansion-panel hideToggle expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title> Personal data </mat-panel-title>
      <mat-panel-description> Type your name and age </mat-panel-description>
      <mat-icon>account_circle</mat-icon>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="First name" />
      {{ user.username }}</mat-form-field
    >

    <mat-form-field> <input matInput placeholder="Age" /> </mat-form-field>
  </mat-expansion-panel>
  <br />

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Preferences </mat-panel-title>
      <mat-panel-description> Customize your experience </mat-panel-description>
      <mat-icon>settings</mat-icon>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="First name" />
    </mat-form-field>

    <mat-form-field> <input matInput placeholder="Age" /> </mat-form-field>
  </mat-expansion-panel>
  <br />
  <!-- HERE IS THE PLAN OPTION -->
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Account </mat-panel-title>
      <mat-panel-description>
        Select your on boarding option
      </mat-panel-description>
      <mat-icon>credit_card</mat-icon>
    </mat-expansion-panel-header>
    <div
      fxLayout="row wrap"
      fxLayout.xs="column"
      fxLayoutWrap
      fxLayoutGap="0.5%"
      fxLayoutAlign="center"
    >
      <div
        fxFlex="0 1 calc(33.3% - 32px)"
        fxFlex.lt-md="0 1 calc(50% - 32px)"
        fxFlex.lt-sm="100%"
      >
        <mat-card class="plan-card">
          <mat-card-header>
            <div
              mat-card-avatar
              class="example-header-image"
              background-image="url('https://material.angular.io/assets/img/examples/shiba1.jpg')"
              background-size="cover"
            ></div>
            <mat-card-title>Free</mat-card-title>
            <mat-card-subtitle>Free Tier</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              the free tier offers the capability to navigate in the maps and
              explore maps created by other users.
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div
        fxFlex="0 1 calc(33.3% - 32px)"
        fxFlex.lt-md="0 1 calc(50% - 32px)"
        fxFlex.lt-sm="100%"
      >
        <mat-card class="plan-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>BRONZE</mat-card-title>
            <mat-card-subtitle>BRONZE</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              Bronze allows you to navigate into all existing public maps. you
              can create public map and share their reference with your friends.
              no file can be uploaded
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>CANCEL</button>
            <button mat-button>SUBSCRIBE</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div
        fxFlex="0 1 calc(33.3% - 32px)"
        fxFlex.lt-md="0 1 calc(50% - 32px)"
        fxFlex.lt-sm="100%"
      >
        <mat-card class="plan-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>SILVER</mat-card-title>
            <mat-card-subtitle>SILVER</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              SILVER allows you to create unlimited private maps
              a 1Go storage is offered
              you can create group of friends and share map with them
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button> <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </mat-expansion-panel>
</div>
