<mat-menu #userMenu="matMenu" yPosition="above">
  <button mat-menu-item routerLink="./user">Settings</button>
  <button mat-menu-item routerLink="./credits">Help</button>
  <a mat-menu-item routerLink="./user/lmap">Web Locus and Map</a>
  <a mat-menu-item routerLink="./acc">Account</a>
  <a mat-menu-item routerLink="./hist">History</a>
  <a mat-menu-item routerLink="./settings">Preferences</a>
  <a mat-menu-item routerLink="./netw">Social</a>
  <a mat-menu-item routerLink="./mbox">Mail</a>
  <a mat-menu-item routerLink=".">Notification</a>
</mat-menu>
<button *ngIf="session.islogged"
class="icon"
type="button"
mat-icon-button
[matMenuTriggerFor]="userMenu"
matTooltip="{{session.user.username}}"
>
<mat-icon aria-label="Side nav toggle icon">account_circle</mat-icon>

</button>
