<div>
  <p>introduction works!:</p>
</div>
<div ng-container
  *ngIf="session.islogged"
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutWrap
  fxLayoutGap="10px"
  fxLayoutAlign="left"

>
  <div
    *ngFor="let user of users"
    fxFlex="0 1 calc(33.3% - 32px)"
    fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="100%"

  >
    <mat-card margin-bottom="10px">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ user.username }}</mat-card-title>
        <mat-card-subtitle>{{ user.username }}</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus,
          quos dignissimos. Voluptates labore veritatis optio ad ea officiis
          tempora laboriosam soluta placeat deserunt, iure harum earum,
          aspernatur nemo repudiandae sed eveniet atque aliquid. Mollitia,
          maiores nihil id rerum accusantium voluptatum.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>INVITE</button> <button mat-button>MESSAGE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
