<div class="anim">
  <svg width="500" height="200" preserveAspectRatio="xMidYMid">
    <!-- <circle id="test" cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" /> -->
    <line id="l1" stroke="red">
      <animate attributeName="x1" values="6.7; 6.7 ;6.7; 6.7" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="y1" values="75; 25 ; 25 ; 75" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="x2" values="50; 50;50;50" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="y2" values="0;0;0;0" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
    </line>

    <line id="l2" stroke="red">
      <animate attributeName="x1" values="50; 50;93 ;50" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="y1" values="50; 50;25; 50" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="x2" values="50; 93;93;50" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="y2" values="0;25;25;0" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
    </line>
    <line id="l3" x1="50" y1="50" x2="100" y2="75" stroke="red">
      <animate attributeName="x1" values="50; 93;93;50" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="y1" values="0; 25;25; 0" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="x2" values="93; 93;93;93" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="y2" values="75;75;75;75" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
    </line>
    <line id="l4" x1="50" y1="0" x2="0" y2="75" stroke="black">
      <animate attributeName="x1" values="6.7; 6.7;6.7;6.7" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="y1" values="75; 25;25; 75" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="x2" values="50; 50;6.7;50" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="y2" values="50;50;25;50" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
    </line>
    <line id="l5" x1="0" y1="75" x2="100" y2="75" stroke="black">
      <animate attributeName="x1" values="50; 50;50;50" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="y1" values="50; 50;100; 50" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="x2" values="93; 50;50;93" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="y2" values="75;100;100;75" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
    </line>
    <line id="l6" x1="100" y1="75" x2="50" y2="0" stroke="black">
      <animate attributeName="x1" values="93; 50;50;93" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="y1" values="75; 100;100; 75" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="x2" values="6.7; 6.7;6.7;6.7" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="y2" values="75;75.;75;75" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
    </line>
    <line id="l7" stroke="black">
      <animate attributeName="x1" values="50; 50;50;50" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="y1" values="0; 0; 0;0" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="x2" values="50; 93;93;50" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="y2" values="0;25;25;0" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
    </line>
    <line id="l8" x1="100" y1="75" x2="50" y2="0" stroke="black">
      <animate attributeName="x1" values="93; 93;93;93" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="y1" values="75; 75; 75;75" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="x2" values="93; 50;50;93" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="y2" values="75;100;100;75" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
    </line>
    <line id="l9" x1="100" y1="75" x2="50" y2="0" stroke="black">
      <animate attributeName="x1" values="6.7; 6.7;6.7;6.7" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="y1" values="75; 75; 75;75" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="x2" values="6.7; 6.7;6.7;6.7" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="y2" values="75;25;25;75" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
    </line>


    <line id="l10" stroke="black">
      <animate attributeName="x1" values="50; 50;6.7;50" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="y1" values="50; 50; 25;50" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="x2" values="50; 50;93;50" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="y2" values="50;50;25;50" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
    </line>

    <line id="l11" stroke="black">
      <animate attributeName="x1" values="50; 50;93;50" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="y1" values="50; 50; 25;50" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="x2" values="50; 50;50;50" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="y2" values="50;50;100;50" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
    </line>

    <line id="l12" stroke="black">
      <animate attributeName="x1" values="50; 50; 50;50" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="y1" values="50; 50; 100;50" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="x2" values="50; 50; 6.7;50" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
      <animate attributeName="y2" values="50;50; 25;50" keyTimes="0; 0.25;0.5; 1" dur="3s" repeatCount="indefinite" />
    </line>

  </svg>
</div>
